* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-header {
  margin: 40px;
}

.createEntry-layout {
  padding: 25px;
  margin-bottom: 40px;
  background-color: #ddd;
}

.header-secondary {
  font-size: 1em;
}

.new-entry-form__div {
  position: relative;
}

.category-of-item--new {
  color: #aaa;
}

.new-option-popup {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  background-color: #ddd;
}





.submit-form-item {
  margin-top: 20px;
}



/* alert */
.alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 4;
  text-align: center;
  color: white;
}


.alert-danger {
  background-color: #ff3300;
}

.alert-success {
  background-color: #00cc66;
}

.alert-warning {
  background-color: #ffff66;
}