* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: #4158D0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--darkBlue);
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-attachment: fixed;

}

.main-header {
  margin: 40px;
  color: white;
}

.createEntry-layout {
  padding: 25px;
  margin-bottom: 40px;
  margin: 40px auto;
  width: 60%;
  max-width: 800px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .8);

}

.header-secondary {
  font-size: 1em;
  margin-bottom: 25px;
  padding-bottom: 10px;
  text-indent: 20px;
  border-bottom: 4px solid var(--darkBlue);
  text-transform: uppercase;
  color: var(--darkBlue);
  letter-spacing: 2px;
  font-weight: bold;

}

.new-entry-form__div {
  position: relative;
  width: 40%;
  margin: 25px;
  padding: 0 25px;

}

.new-entry-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.new-entry-form__div label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding: 0 10px 5px;
  color: var(--darkBlue);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  border-bottom: 2px solid var(--darkBlue);
  text-align: right;
}

.new-entry-form__div input,
.new-entry-form__div select {
  position: relative;
  display: block;
  margin-left: auto;
  padding: 5px 10px;
  text-align: right;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--darkBlue);
  color: var(--darkBlue);

}

.new-entry-form__div select {
  width: 100%;
}

.new-entry-form__div:nth-last-child(2) {
  width: 100%;
}

::placeholder {
  color: #4159d05d;
  font-size: 1em;
}

.new-entry-form__div input:focus {
  outline: none;

}

.currency {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -125%);
  color: var(--darkBlue)
}

.add-new,
.submit-form-item {
  display: block;
  width: 80%;
  margin: 0 10%;
  padding: 10px 5px;
  border-radius: 15px;
  background-color: var(--darkBlue);
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: white;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 2px;
  border: 2px solid rgba(255, 255, 255, .8);
  transition: .5s;
  cursor: pointer;
}

.add-new:hover,
.submit-form-item:hover {
  border: 2px solid var(--darkBlue);
}


.category-of-item--new {
  color: #aaa;
}

.btns-new-entry {
  margin-top: 5px;
  display: flex;
  justify-content: right;
}

.btns-new-entry .add-new {
  margin: 0 0 0 10px;
  width: auto;
  padding: 5px 10px;
}

.btn-cont {
  text-align: center;
  width: 100%;
}

.validation-failed {
  position: absolute;
  right: 50px;
  top: 105%;
  /* transform: translateY(50%); */
  font-size: 0.7em;
  color: var(--darkBlue)
}

.submit-form-item {
  margin-top: 20px;
}



/* alert */
.alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 4;
  text-align: center;
  color: white;
}


.alert-danger {
  background-color: #ff3300;
}

.alert-success {
  background-color: #00cc66;
}

.alert-warning {
  background-color: #76760d;
}


/* tools */

.tools {
  margin-top: 50px;
  background-color: white;
  color: var(--darkBlue);
  padding-left: 10%;
  margin-bottom: 50px;

  display: flex;

}

.tools__span {
  position: relative;
  display: block;
  font-size: 1.5em;
  margin-right: 25px;
  padding: 15px;
  transition: .3s;
  border-radius: 15px;
}

.tools__span:hover {
  background-color: var(--darkBlue);
  color: white;
  cursor: pointer;
}



.tools__span::after,
.tools__span::before {
  position: absolute;
  content: attr(data-text);
  bottom: 120%;
  left: 0;
  width: 200%;
  padding: 10px 15px 10px 15px;
  font-size: 0.5em;
  background-color: rgba(255, 255, 255, 1);
  color: var(--darkBlue);
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  opacity: 0;
  transition: .3s;
}

.tools__span::before {
  content: '';
  padding: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 100%;
  border-radius: 0;
  opacity: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background-color: transparent;
  border-top: 10px solid white;
}

.tools__span:hover::after,
.tools__span:hover::before {
  opacity: 1;
}

.pressed {
  background-color: var(--darkBlue);
  color: white;
}


/* table */

.table-section__table {
  margin: 25px auto;
  background-color: #fff;
  border-spacing: 2px 0px;
  border-collapse: separate;
}


.table-section__th {
  position: relative;
  padding: 5px 40px;
  background-color: rgb(53, 192, 225);
  color: white;
  font-weight: normal;
}

.table-section__th:nth-child(odd) {
  background-color: rgb(135, 170, 252);

}


.table-section__td {
  /* background-color: #fff; */
  padding: 5px 10px;
  text-align: center;
}

.table-section__tr {
  background-color: rgb(247, 248, 252);
}

.table-section__tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.table-section__td--edit {
  background-color: #fff;
  color: black;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.small-statistics {
  border: 2px solid rgba(135, 170, 252, 0.585);
  padding: 10px 20px;
  margin: 25px auto;
  width: 350px;
  border-radius: 15px;
  /* text-align: center; */
}

.small-statistics__div {

  /* width: 30%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.small-statistics__span:nth-child(2) {
  font-weight: bold;
}

.edit-btn {
  cursor: pointer;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
  background-color: rgb(33, 107, 254);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-tbl-btn {
  background-color: rgb(255, 86, 113);
}

.edit-btn svg {
  fill: white;
}

/* inputs */
.table-section__input {
  display: block;
  /* width: auto; */
  text-align: center;
  /* max-width: 150px; */
  border: none;
  background-color: transparent;
  border-bottom: 2px solid red;
}

.table-section__input:disabled {
  background-color: transparent;
  border: none;
}


/* sort btn */
.sort-table-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(0);
  transform-origin: center;
  font-size: 0.8em;
  transition: .3s;
  cursor: pointer;
}

.rotate {
  transform: translateY(-50%) rotate(180deg);

}


/* drag and drop */
.move-handle {
  background-color: white;

}

.drag-icon {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px;

}

.drag-icon::after {
  display: block;
  position: absolute;
  content: 'przeciągnij';
  left: 0%;
  top: -20%;
  font-size: 0.7em;
  width: 300px;
  opacity: 0;
}

.drag-icon:hover::after {
  opacity: 1;
}

.table-section__tr {
  transition: .1s;
}


.table-section__tr {
  transition: .3s;
}

.table-section__tr.drag-hint {

  background-color: #ffffe0;
}

.table-section__tr.drag-active {
  /* border: 1px solid #ffa5a5; */
  background-color: #fff5be;
}


/* helpers stats */
.helper-component {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 700px;
  padding: 70px;
  padding-bottom: 30px;
  border: 2px solid var(--darkBlue);
  background-color: #fff;
  z-index: 10;
  border-radius: 15px;
}

.close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  background-color: var(--darkBlue);
  color: white;
  border-radius: 50%;
  transform: rotate(0);
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover {
  transform: rotate(90deg);

}

.helper-stats-form__div {

  margin-bottom: 30px;
  text-align: right;
  color: var(--darkBlue);
}

select {
  cursor: pointer;
}

.helper-stats-form__div select {
  width: 90%;
  text-align: right;
  border: none;
  color: var(--darkBlue);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--darkBlue);
  outline: none;

}

.choose-type {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
  border-bottom: 2px solid var(--darkBlue);
  text-transform: uppercase;
  text-align: right;
}




.helper-component .add-new {
  margin-top: 40px;
}

#stat-avg {
  margin-left: 50px;
  margin-right: 10px;
}


#stat-sum {
  margin-right: 10px;
}




/* statistic */
.statistic-section {
  margin: 50px 0 50px 0;
  padding: 50px 0 50px 0;
  background-color: #fff;
}

.statistic-section .header-secondary {
  text-align: center;
}


.caption-table {
  margin-bottom: 25px;
}

#table-to-export-section {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
}

.add-new a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.add-new a:hover {
  color: white
}

.export-radio {
  display: block;
  margin: 10px 0;
}

.name-of-file-input {
  padding-bottom: 5px;
  width: 90%;
  border: none;
  border-bottom: 1px solid var(--darkBlue);
  text-align: right;
  color: var(--darkBlue);
  font-size: 1rem;
  outline: none;
  transition: .3s;
}

.name-of-file-input:focus {
  color: rgb(255, 86, 113);
  caret-color: rgb(255, 86, 113);
  border-color: rgb(255, 86, 113);
}

.row-id {
  font-size: 13.3333px;
  color: rgb(84, 84, 84);
}

.add-new {
  font-family: 'Roboto', sans-serif;
}

a.add-new {
  display: block;
  font-size: 13.3333px;

  text-align: center;
  text-decoration: none;
}


@media (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }

  .caption-table {
    text-align: left;
  }

  .wrap-table {
    margin: 0 25px;
    overflow-x: scroll;
  }

  .new-entry-form__div input,
  .new-entry-form__div select {
    width: 100%;
  }


  .drag-icon::after {
    display: none;
  }
}




@media (max-width: 950px) {
  .createEntry-layout {
    margin: 40px auto;
    width: 80%;
  }



}



@media (max-width: 850px) {
  .new-entry-form__div {
    width: 45%;
    margin: 25px 0;
    padding: 0 0;
  }

  .helper-component {
    min-width: 500px;

  }


}




@media (max-width: 550px) {
  html {
    overflow-x: hidden;
  }

  .new-entry-form__div {
    width: 100%;
    /* margin: 25px 0; */
    padding: 0 20px;
  }

  .helper-component {
    min-width: 350px;
    padding: 30px;
  }

  .header-secondary {
    padding-right: 15px;
  }


}




@media (max-width: 400px) {

  .helper-component {
    min-width: auto;
    width: 90%;
    padding: 30px;
  }




}


@media (orientation: portrait) {
  .header-secondary {
    text-indent: 0;
  }
}